<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new game</title>
</head>
<body>
    <h1>Add new game</h1>
    <form action="add" method="post">
        <p>Game name: <input type="text" name="name"></p>
        <p>Description: <input type="text" name="description"></p>
        <p>Price: <input type="number" name="price" min="0"></p>
        <p>Href, where user can get game: <input type="text" name="href"></p>
    </form>
</body>
</html>